<main>
  <section class="form-layout-section">
    <h1>{{ title }}</h1>
    <div class="content-container">
      <ng-content></ng-content>
    </div>

    <div class="footer-actions">
      <button 
        class="btn-secondary" 
        (click)="emitBackAction()">
        {{ backBtnText }}
      </button>

      <button 
        class="btn-primary" 
        (click)="emitSubmitAction()" 
        [disabled]="disableSubmitBtn">
        {{ submitBtnText }}
      </button>
    </div>
  </section>
</main>