<main>
  <section class="form-layout-section">
    <div class="header-section">
      <h1>{{ title }}</h1>
      <button class="btn-back" (click)="emitBackAction()">
        <span class="icon-arrow-left">←</span> Voltar
      </button>
    </div>

    <div class="content-container">
      <ng-content></ng-content>
    </div>

    <div class="footer-actions">
      <button 
        class="btn-secondary" 
        (click)="emitCancelAction()">
        {{ cancelBtnText }}
      </button>

      <button 
        class="btn-primary" 
        (click)="emitSubmitAction()" 
        [disabled]="disableSubmitBtn">
        {{ submitBtnText }}
      </button>
    </div>
  </section>
</main>