<app-default-list-layout
    [title]="'Listagem de Transações'"
    [primaryBtnText]="'Nova Transação'"
    (primaryAction)="navigateToNewTransacao()"
>
    <div search-area class="search-input-group">
        <input
            type="text"
            placeholder="Buscar transação..."
            [(ngModel)]="pesquisa"
            (input)="applyTransacaoFilter()"
        >
        <span class="search-icon">&#128269;</span>
    </div>

    <div class="table-container">
        <table *ngIf="filteredTransacoes.length > 0; else noItems">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                    <th>Data da Transação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transacao of filteredTransacoes">
                    <td>{{ transacao.descricao }}</td>
                    <td>R$ {{ transacao.valor | number:'1.2-2' }}</td>
                    <td>{{ getLabel(transacao.tipoTransacao) }}</td>
                    <td>{{ transacao.dataTransacao | date:'dd/MM/yyyy' }}</td>
                    <td class="action-buttons">
                        <button class="btn-action edit" (click)="editTransacao(transacao.id)">Editar</button>
                        <button class="btn-action delete" (click)="deleteTransacao(transacao.id)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #noItems>
            <div class="no-items-message">
                Nenhuma transação encontrada.
            </div>
        </ng-template>
    </div>
</app-default-list-layout>